@font-face {
    font-family: "Round8";
    src: url("./fonts/round8-four.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Sawton";
    src: url("./fonts/sawton-circular-thin-100.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Clouds";
    src: url("./fonts/Clouds-BF697b6a131c2ff.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RCLBackOne";
    src: url("./fonts/RCLBackOne-Regular-BF6953473dd986f.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

#skip-button {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    /* encima de todo */
    padding: 12px 20px;
    background: rgba(255, 255, 255, 0.85);
    color: #111;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, background 0.2s ease;
}

#skip-button:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 1);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    overflow: hidden;
    font-family: "Inter", system-ui, sans-serif;
}

/* CAPAS */
#glass-tv,
#crt-circle,
#bars,
#video-layer,
#final {
    position: fixed;
    inset: 0;
}

/* =========================
     1️⃣ VIDRIO TV
  ========================= */
#glass-tv {
    background:
        radial-gradient(circle at center, #ffffff22, #000000ee),
        linear-gradient(120deg, #ffffff18, #000000);
    filter: blur(1px) brightness(1.15);
    z-index: 5;
}

/* =========================
     2️⃣ ENCENDIDO CRT
  ========================= */
#crt-circle {
    background: black;
    clip-path: circle(0% at 50% 50%);
    z-index: 6;
}

/* =========================
     3️⃣ BARRAS TV
  ========================= */
#bars {
    background: linear-gradient(to right,
            #fff 0%, #fff 14.2%,
            #ffd700 14.2%, #ffd700 28.4%,
            #00ffff 28.4%, #00ffff 42.6%,
            #00ff00 42.6%, #00ff00 56.8%,
            #ff00ff 56.8%, #ff00ff 71%,
            #ff0000 71%, #ff0000 85.2%,
            #0000ff 85.2%, #0000ff 100%);
    display: none;
    z-index: 7;
    animation: softFlicker 3s ease-in-out infinite;
}

/* =========================
     4️⃣ VIDEO + MARCO CINE
  ========================= */
#video-layer {
    display: none;
    z-index: 8;
    background: black;
}

/* MARCO CINE (letterbox real) */
.cinema-frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 42.5vw;
    /* relación cine */
    max-height: 72.5vh;
    transform: translate(-50%, -50%);
    background: black;
    overflow: hidden;
}

/* VIDEO */
#bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.85) contrast(1.15) saturate(0.9);
    animation: videoFlicker 4s ease-in-out infinite;
}

/* =========================
     EFECTO RESOLUCIÓN CRT
  ========================= */
.scanlines {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 5;

    background: repeating-linear-gradient(to bottom,
            rgba(0, 0, 0, 0.35) 0px,
            rgba(0, 0, 0, 0.35) 1px,
            rgba(0, 0, 0, 0) 2px,
            rgba(0, 0, 0, 0) 4px);

    opacity: 0.45;
}

/* =========================
     5️⃣ TEXTO FINAL
  ========================= */
/* =========================
   5️⃣ TEXTO FINAL (LIMPIO)
========================= */
#final {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.35s ease;
}


#final h1 {
    font-family: "Round8", serif;
    color: #f2f2f2;

    letter-spacing: 8px;
    font-size: 250px;
    font-weight: 500;

    text-align: center;
    white-space: nowrap;
}


#final.show h1 {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
}

/* =========================
     ANIMACIONES
  ========================= */
@keyframes softFlicker {

    0%,
    100% {
        opacity: 0.95;
    }

    50% {
        opacity: 1;
    }
}

@keyframes videoFlicker {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.96;
    }
}

@keyframes cinemaFlicker {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.85;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}


/* =========================
   ❤️ HEARTBEAT INTRO
========================= */
#heartbeat-intro {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.96);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    overflow: hidden;
}

.heartbeat-images {
    position: absolute;
    inset: 0;
}

.heartbeat-images img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;
    transform: scale(1);
    filter: brightness(0.78) contrast(0.95) saturate(0.9) blur(1px);

    transition:
        opacity 0.3s ease,
        transform 0.3s ease,
        filter 0.3s ease;
}

/* Estado latido */
.heartbeat-images img.beat {
    opacity: 0.85;
    transform: scale(1.02);
    filter: brightness(0.9) contrast(1) saturate(1) blur(0.5px);
}

/* Desvanecer rápido */
.heartbeat-images img.fade {
    opacity: 0;
    transform: scale(0.98);
    filter: brightness(0.7) blur(2px);

    transition: opacity 0.18s ease-out,
        transform 0.18s ease-out,
        filter 0.18s ease-out;
}




.heartbeat-text {
    position: relative;
    z-index: 3;
    font-family: "RCLBackOne", serif;
    color: #f2f2f2;
    font-size: 50px;
    text-align: center;

    opacity: 0;
    transition: opacity 0.8s ease;
}


.heartbeat-line-wrapper {
    position: absolute;
    width: 100%;
    height: 4px;
    top: 50%;
    left: 0;
    overflow: hidden;
}

#heartbeat-line {
    position: absolute;
    width: 200%;
    height: 100%;
    background: linear-gradient(90deg,
            transparent 0%,
            #ff2a2a 10%,
            #ff2a2a 90%,
            transparent 100%);

    box-shadow: 0 0 8px rgba(255, 0, 0, 0.6);
    transform: translateX(-100%);

    --mask-start: 0%;

    -webkit-mask-image: linear-gradient(to right,
            transparent var(--mask-start),
            black calc(var(--mask-start) + 8%),
            black 90%,
            transparent 100%);
}

#crt-circle {
    background: radial-gradient(circle at center,
            rgba(255, 255, 255, 0.12) 0%,
            rgba(0, 0, 0, 1) 60%);
    clip-path: circle(0% at 50% 50%);
    z-index: 6;
    transition: clip-path 2.2s cubic-bezier(.4, 0, .2, 1);
}

/* pulso de luz al encender */
#crt-circle.revive {
    animation: reviveGlow 1.6s ease-out forwards;
}

#revive-light {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 6;
    opacity: 0;

    background:
        radial-gradient(circle at center,
            rgba(255, 255, 255, 0.18) 0%,
            rgba(255, 255, 255, 0.12) 25%,
            rgba(255, 255, 255, 0.06) 45%,
            rgba(255, 255, 255, 0.02) 65%,
            transparent 85%);
}



#revive-light.active {
    animation: reviveFlash 2.6s cubic-bezier(.25, .7, .2, 1) forwards;
}

@keyframes reviveFlash {

    0% {
        opacity: 0;
        transform: scale(0.7);
        filter: blur(60px);
    }

    40% {
        opacity: 0.9;
    }

    100% {
        opacity: 0;
        transform: scale(1.8);
        filter: blur(120px);
    }
}




/* =========================
   FLATLINE EFFECT
========================= */

#heartbeat-intro.flatline-active {
    animation: monitorPulse 1s linear infinite;
}

/* efecto leve vibración / interferencia */
@keyframes monitorPulse {
    0% {
        filter: brightness(0.6);
    }

    50% {
        filter: brightness(0.8);
    }

    100% {
        filter: brightness(0.6);
    }
}


#video-layer.fullscreen .cinema-frame {
    width: 100vw;
    height: 100vh;
    max-height: none;
}

#video-layer.fullscreen #bg-video {
    object-fit: cover;
}

/* =========================
   BASE
========================= */

#valentine-section {
    position: fixed;
    inset: 0;
    display: none;
    z-index: 30;
    font-family: 'Inter', sans-serif;
}

.macos-desktop {
    width: 100vw;
    height: 100vh;
    background: url("mac.jpg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* =========================
   MAC TOPBAR
========================= */

.macos-topbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 28px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.15);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;
    font-size: 13px;
}

/* =========================
   WINDOW
========================= */

.mac-window {
    width: 1020px;
    height: 600px;
    background: #f0f2f5;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.35);
}

.wa-container {
    display: flex;
    width: 100%;
}

/* =========================
   SIDEBAR
========================= */

.wa-sidebar {
    width: 400px;
    display: flex;
    background: #f0f2f5;
}

/* =========================
   LEFT ICON COLUMN
========================= */

.wa-side-icons {
    width: 85px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 14px 0;
    position: relative;
    /* clave para avatar abajo */
}

/* SEMÁFORO MAC */
.wa-side-top.mac-dots {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 30px;
}

.wa-side-top .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.dot.red {
    background: #ff5f57;
}

.dot.yellow {
    background: #febc2e;
}

.dot.green {
    background: #28c840;
}

/* =========================
   ICONOS CENTRALES
========================= */

.wa-side-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.side-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    font-size: 10.5px;
    color: #8a8d91;
}

.side-item i {
    width: 60px;
    height: 30px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    cursor: pointer;
    transition: background 0.18s ease, color 0.18s ease;
}

/* HOVER */
.side-item i:hover {
    background: #f1f3f5;
}

/* ACTIVO */
.side-item.active i {
    background: #90909040;
    color: #707070;
}

/* =========================
   BOTTOM (AYUDA + AVATAR)
========================= */

.wa-side-bottom {
    position: absolute;
    bottom: 14px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

/* AYUDA */
.side-help {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8a8d91;
    cursor: pointer;
    transition: background 0.2s ease, color 0.2s ease;
}

.side-help i {
    font-size: 18px;
}

.side-help:hover {
    background: #f1f3f5;
    color: #0a7cff;
}

/* AVATAR */
.wa-avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

/* =========================
   RIGHT SIDEBAR CONTENT
========================= */

.wa-side-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #ffffff;
}


/* HEADER */

.wa-side-header {
    height: 52px;
    background: #ffffff;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wa-side-header h3 {
    font-size: 18px;
}

.wa-header-icons {
    display: flex;
    gap: 16px;
}

.wa-header-icons i {
    cursor: pointer;
    color: #54656f;
}

/* HEADER GENERAL */
.wa-chat-header {
    height: 67.5px;
    background: #f0f2f5;
    padding: 0 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LADO IZQUIERDO */
.wa-chat-header-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.chat-header-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.chat-header-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.chat-header-name {
    font-weight: 550;
    font-size: 15px;
    color: #111b21;
}

.chat-header-status {
    font-size: 12px;
    color: #667781;
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 500;
}

/* Puntito verde */
.status-dot {
    width: 8px;
    height: 8px;
    background: #25d366;
    border-radius: 50%;
}

/* Cuando está online el texto no cambia de color */
.chat-header-status.online {
    color: #667781;
}

/* LADO DERECHO */
.wa-chat-header-right {
    display: flex;
    align-items: center;
    gap: 30px;
    color: #54656f;
    font-size: 16.5px;
    cursor: pointer;
    margin-right: 10px;
}

.divider {
    font-size: 16px;
    color: #d1d7db;
}

/* SEARCH */

/* CONTENEDOR BLANCO */
.wa-search {
    background: #ffffff;
    padding: 5px 15px 10px 15px;
    border-bottom: 1px solid #e9edef;
}

/* CAJA INTERNA GRIS */
.wa-search-box {
    background: #f0f2f5;
    border-radius: 12px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

/* ICONO */
.wa-search-box i {
    font-size: 14px;
    color: #8a8d91;
}

/* INPUT */
.wa-search-box input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 13px;
    width: 100%;
    color: #111b21;
}

/* CHAT LIST */

.wa-chat-list {
    flex: 1;
    overflow-y: auto;
}

.wa-chat-item {
    display: flex;
    gap: 12px;
    padding: 12px 14px;
    cursor: pointer;
    transition: background 0.2s;
}

.wa-chat-item:hover {
    background: #e9edef;
}

.wa-chat-item.active {
    background: #e9edef;
}

.chat-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.chat-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chat-top {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.chat-name {
    font-weight: 550;
}

.chat-time {
    font-size: 11px;
    color: #667781;
}

.chat-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}

.chat-message {
    font-size: 12.5px;
    color: #667781;
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chat-badge {
    background: #25d366;
    color: white;
    font-size: 10px;
    border-radius: 12px;
    min-width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* =========================
   CHAT PANEL
========================= */
.chat-spacer {
    flex: 1;
}

.wa-chat {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #FAFAFA;
}

.wa-chat-header {
    padding: 15px;
    background: #F7F7FC;
    font-weight: 600;
}

.wa-messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    /* scroll invisible */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.wa-messages::-webkit-scrollbar {
    display: none;
}

.message {
    max-width: 65%;
    padding: 12px 16px 20px 16px;
    /* espacio real abajo */
    border-radius: 14px;
    font-size: 14px;
    position: relative;

    opacity: 0;
    transform: translateY(12px);
    animation: msgIn 0.25s ease-out forwards;

    transition: box-shadow 0.2s ease;
}

.message p {
    margin: 0;
    display: inline;

}

.message {
    position: relative;
    padding-bottom: 12px;
    /* espacio para hora */
}

.msg-time {
    font-size: 10.5px;
}

.message.sent .fa-check,
.message.sent .fa-check-double {
    font-size: 11px;
    color: #8696a0;
}

.message.received .msg-meta {
    right: 8px;
}

/* leído */
.message.sent .fa-check-double.read {
    color: #53bdeb;
}

.message.sent .fa-check-double {
    animation: checkIn 0.2s ease-out;
}

@keyframes checkIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.msg-meta {
    position: absolute;
    bottom: 6px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 10.5px;
    color: #667781;
    opacity: 0.9;
    pointer-events: none;
}

.message.sent .msg-meta i {
    font-size: 11px;
    color: #8696a0;
}

.message.sent .msg-meta i.read {
    color: #53bdeb;
}

@keyframes msgIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.message.received {
    align-self: flex-start;
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04),
        0 4px 12px rgba(0, 0, 0, 0.06);
    padding-right: 40px;

}

.message.sent {
    align-self: flex-end;
    background: #d9fdd3;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04),
        0 4px 12px rgba(0, 0, 0, 0.06);
    padding-right: 58px;

}

.message {
    transition: box-shadow 0.2s ease;
}

.message:hover {
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
}

#chat-anchor {
    height: 1px;
}

/* INPUT */

/* CONTENEDOR GENERAL */
.wa-input {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 12px 25px;
    background: #F7F7FC;
}

/* ICONOS IZQUIERDA */
.wa-input-left,
.wa-input-right {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #54656f;
    font-size: 20px;
    cursor: pointer;
}

/* CAJA BLANCA */
.wa-input-box {
    flex: 1;
    background: #ffffff;
    border-radius: 20px;
    padding: 12px 16px;
    border: 1px solid #e9edef;
    display: flex;
    align-items: center;
}

/* INPUT */
.wa-input-box input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    background: transparent;
}


/* =========================
   DOCK
========================= */

.macos-dock {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    padding: 8px 14px;
    border-radius: 20px;
    backdrop-filter: blur(18px);
    background: rgba(255, 255, 255, 0.65);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.18);
}

.dock-icon {
    width: 55px;
    height: 55px;
    object-fit: contain;
    position: relative;
    transition: transform 0.2s;
}

.dock-icon:hover {
    transform: scale(1.2);
}

.dock-icon.active::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 8px;
    height: 4px;
    background: #0a7cff;
    border-radius: 3px;
}